<% if flash[:notice].present? %>
<%= flash[:notice] %>
<% end %> </br>

ID Transaction : <%= @payment.id_transaction %> </br>
Status : <%= @payment.status %> </br>
Upload : <%= @payment.upload %> </br>

<%= link_to 'Back', payments_path %> 