<% if flash[:notice].present? %>
<%= flash[:notice] %>
<% end %> </br>

Title : <%= @exam.title %> </br>
Hasil : <%= @exam.hasil %> </br>
Mapel : <%= @exam.mapel %> </br>
Duration : <%= @exam.duration %> </br>
Nilai : <%= @exam.nilai %> </br>
Status : <%= @exam.status %> </br>
Level : <%= @exam.level %> </br>
Student ID : <%= @exam.student_id %> </br>

<%= link_to 'Back', exams_path %>  

 