<% if flash[:notice].present? %>
<%= flash[:notice] %>
<% end %> </br>

Title : <%= @report.title %> </br>
Hasil : <%= @report.hasil %> </br>
Mapel : <%= @report.mapel %> </br>
Teacher ID : <%= @report.teacher_id %> </br>
Student ID : <%= @report.student_id %> </br>

<%= link_to 'Back', reports_path %> 

